{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}
  Reinitialiser votre mot de passe - Anciens examens
  {% if form.new_password1.errors or form.new_password2.errors %}
    {% translate "Error:" %} 
  {% endif %}
  {{ block.super }}
{% endblock %}


{% block content %}

{% if validlink %}
<div class="pt-6 pb-10 md:px-12 px-6">
  <div class="bg-white flex md:flex-row flex-col-reverse gap-12 justify-center shadow rounded-xl p-4 w-fit h-fit mx-auto">
    <div class="flex flex-col justify-stretch gap-14 p-4">
      <h2 class="text-2xl font-bold text-center py-6">Reinitialiser votre mot de passe</h2>
      <form method="post"  class="md:w-[400px] flex flex-col gap-4">
        {% csrf_token %}
        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-row field-password1">
          {{ form.new_password1.errors }}
          <div class="flex flex-col gap-3">
            <label for="id_new_password1">{% translate 'Nouveau mot de passe:' %}</label>
            {{ form.new_password1|add_class:"rounded-lg border-gray-300 font-semibold" }}
          </div>
        </div>
        <div class="form-row field-password2">
          {{ form.new_password2.errors }}
          <div class="flex flex-col gap-3">
            <label for="id_new_password2">{% translate 'Confirmer le mot de passe:' %}</label>
            {{ form.new_password2|add_class:"rounded-lg border-gray-300 font-semibold" }}
          </div>
        </div>
        <button type="submit" class="bg-gray-600 font-semibold text-white mx-auto py-2.5 px-8 rounded-lg shadow hover:bg-gray-700 transition-all duration-300 ease-in-out">
            Changer
        </button>
      </form>
    </div>
    <div class="bg-white h-[450px] md:w-1/2">
        <img
          class="h-full rounded-lg object-cover"
          src="{% static 'medias/student7.jpg' %}"
        >
    </div>
  </div>
</div>

{% else %}

  <div class="flex flex-col pt-10 pb-20 w-full gap-6 justify-center">
    <h1 class="text-7xl text-red-500 text-center font-semibold">ERROR !!!</h1>
    <p class="text-center text-xl mx-auto md:w-[800px] text-gray-700 font-medium px-10">
      {% translate "Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.  Veuillez demander une nouvelle réinitialisation du mot de passe." %}
    </p>
     <img
        class="h-[450px] w-2/3 mx-auto rounded-lg object-cover"
        src="{% static 'medias/error.jpg' %}"
      >
  </div>

{% endif %}

{% endblock %}
