{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Quelqu'un a demandé la réinitialisation du mot de passe pour l'email {{ email }}. Suivez le lien ci-dessous: {{ site_name }}.{% endblocktranslate %}

{% translate "Cliquez sur ce lien pour changer votre mot de passe" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Si vous n'êtes pas à l'origine de ce message merci de l'ignorer !" %}

{% translate "Merci d'avoir utilisé notre site !" %}

{% blocktranslate %}Support Anciens Examens{% endblocktranslate %}

{% endautoescape %}