{% load i18n %}{% autoescape off %}
{% blocktranslate %}Quelqu'un a demandé la réinitialisation du mot de passe pour l'email {{ email }}. Suivez le lien ci-dessous: {{ site_name }}.{% endblocktranslate %}

{% translate "Cliquez sur ce lien pour changer votre mot de passe" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'In case you’ve forgotten, you are:' %} {{ user.get_username }}

{% translate "Merci d'avoir utilisé notre site !" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}