{% extends "base.html" %}

{% block title %}Changement mot de passe - Anciens examens{% endblock title %}

{% block content %}
    <h2 class="text-2xl font-bold text-center my-6">Changer votre mot de passe</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="bg-gray-500 text-white py-3 px-4 rounded-lg shadow hover:bg-gray-600 transition-all duration-300 ease-in-out">
            Valider
        </button>
    </form>
{% endblock content %}
