{% extends "base.html" %}
{% load widget_tweaks %}
{% load static i18n %}

{% block title %}Inscription - Anciens examens{% endblock title %}


{% block content %}
    <div class="pt-6 pb-10 md:px-12 px-6">
        <div class="bg-white flex md:flex-row flex-col-reverse md:gap-12 gap-6 justify-center shadow rounded-xl p-4 w-fit h-fit mx-auto">
            <div class="flex flex-col gap-4 p-4 md:w-1/2 w-full">
                <h2 class="text-2xl font-bold pb-6 pt-2">Créer un compte</h2>
                <form method="post" class="flex flex-col gap-4 w-full">
                    {% csrf_token %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="flex sm:flex-row flex-col gap-3 sm:pr-3">
                        <div class="sm:w-1/2 flex flex-col gap-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name|add_class:"rounded-lg border-gray-300 font-semibold" }}
                        </div>
                        <div class="sm:w-1/2 flex flex-col gap-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name|add_class:"rounded-lg border-gray-300 font-semibold" }}
                        </div>
                    </div>
                    <div class="sm:w-full flex flex-col gap-3">
                        {{ form.username.label_tag }}
                        {{ form.username|add_class:"rounded-lg border-gray-300 font-semibold" }}
                    </div>
                    <div class="sm:w-full flex flex-col gap-3">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"rounded-lg border-gray-300 font-semibold" }}
                    </div>
                    <div class="flex flex-col gap-3 w-full">
                        {{ form.password1.label_tag }}
                        {{ form.password1|add_class:"rounded-lg border-gray-300 font-semibold" }}
                    </div>
                    <div class="flex flex-col gap-3 w-full">
                        {{ form.password2.label_tag }}
                        {{ form.password2|add_class:"rounded-lg border-gray-300 font-semibold" }}
                    </div>
                    <p class="text-red-500">
                        {{ message }}
                        {{ form.errors }}
                    </p>
                    <button type="submit" class="bg-gray-600 font-semibold text-white mx-auto py-3 px-4 rounded-lg shadow hover:bg-gray-700 active:bg-gray-700 transition-all duration-300 ease-in-out">
                        S'inscrire
                    </button>
                </form>
                <p class="text-center mt-4">Vous avez déjà un compte ? <a href="{% url 'login' %}" class="text-blue-500 font-semibold hover:underline">Connectez-vous !</a></p>
            </div>
            <div class="bg-white md:w-1/2">
                <img
                    class="h-full object-cover"
                    src="{% static 'medias/student3.webp' %}"
                    alt="Inscrivez-vous"
                >
            </div>
        </div>
    </div>
    {% comment %} {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %} {% endcomment %}
{% endblock content %}