{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Accueil - Anciens Examens{% endblock %}

{% block content %}
    {% include "examens/partials/HeroSection.html" %}
    {% include "examens/partials/FilterSearch.html" %}
    <div class="p-4 sm:px-12 px-6 flex flex-col gap-3">
        {% if form.errors %}
            <p class="text-center text-xl font-medium text-gray-600">
                Désolé, nous n'avons que des examens de 2010 jusqu'à aujourd'hui
            </p>
        {% else %}
            <div class="grid lg:grid-cols-2 grid-cols-1 sm:gap-4 gap-8">
                {% for examen in page_obj %}
                    {% include "examens/partials/CardExam.html" %}
                {% endfor %}
            </div>
            {% include "examens/partials/Paginator.html" %}
        {% endif %}
        {% comment %} <a href="{% url 'home'%}" class="bg-gray-500 text-white text-center py-3 px-4 rounded-lg shadow hover:bg-gray-600 active:bg-gray-600 mt-10 w-fit transition-all duration-300 ease-in-out">
            <span>Voir tous les examens</span>
            <i class="fa-solid fa-arrow-right"></i>
        </a> {% endcomment %}
    </div>
    {% include "examens/partials/CTA.html" %}
{% endblock content %}