{% extends 'base.html' %}
{% load static %}


{% block title %}{{ examen.title }} - Anciens examens{% endblock title %}

{% block content %}
<div class="sm:px-12 px-4 py-4 pb-20">
    <div class="flex flex-col gap-4 mt-6">
        <h2 class="text-center text-2xl bg-gray-200 w-full p-3 rounded-sm mx-auto font-semibold text-gray-700">
            {{ examen.title }}
        </h2>
        <div class="flex flex-col gap-4">
            <h3 class="text-lg font-medium text-left text-gray-600"><strong>Filiere :</strong> {{ examen.filiere }}</h3>
            <h3 class="text-lg font-medium text-left text-gray-600"><strong>Matière :</strong> {{ examen.matiere }}</h3>
        </div>
        <div class="flex flex-col gap-4">
            <h3 class="text-lg font-medium text-left text-gray-600"><strong>UFR :</strong> {{ examen.ufr }}</h3>
             {% if examen.year %}
                <h3 class="text-lg font-medium text-left text-gray-600"><strong>Année :</strong> {{ examen.year }}</h3>
                {% else %}
                <h3 class="text-lg font-medium text-left text-gray-600"><strong>Année :</strong> non précisée</h3>
            {% endif %}
        </div>
        <h3 class="">Publié(e) par {{ examen.author }}</h3>
    </div>
    <div class="flex flex-row gap-4 my-4">
        {% for image in images %}
        <img class="w-48 mb-3 cursor-pointer" src="{% static image %}" >
        {% endfor %}
    </div>
    <iframe 
        class="mt-8 mb-20 mx-auto flex justify-center" 
        src="{% static examen.file.url %}" 
        width="100%" 
        height="800"
    ></iframe>
    <a 
        download
        href="{% static examen.file.url %}" 
        class="bg-gray-500 font-semibold text-white py-3 px-4 rounded-lg shadow hover:bg-gray-600 active:bg-gray-600 transition-all duration-300 ease-in-out"
    >
        <i class="fa-solid fa-download"></i>
        <span>Telecharger le fichier</span>
    </a>
</div>
{% endblock %}