{% extends 'base.html' %}
{% load static %}


{% block title %}{{ examen.title }} - Anciens examens{% endblock title %}

{% block content %}
<div class="bg-green-400 h-60">
    <h3 class="">{{ examen.title }}</h3>
    <h3 class="">{{ examen.branch }}</h3>
    <h3 class="">{{ examen.ufr }}</h3>
    <h3 class="">{{ examen.year }}</h3>
    <h3 class="">{{ examen.author }}</h3>

    {% for image in images %}
        <img class="w-48 mb-3" src="{% static image %}" >
    {% endfor %}
</div>
{% endblock %}