{% load static %}
<div class="bg-white w-full shadow flex sm:flex-row flex-col sm:justify-start justify-center items-center border border-gray-200 rounded-lg py-3 px-4 gap-4">
    <img class="sm:w-48 opacity-70 w-60 sm:mx-0 mx-auto" src="{% static 'medias/file_exam.png' %}" >
    <div class="flex flex-col gap-3 mt-3 w-full">
        <h3 class="font-semibold text-lg text-gray-800">{{ examen.title }}</h3>
        <div class="flex flex-col gap-3 mt-4">
            <p class="text-sm"><span class="font-semibold">UFR :</span> {{ examen.ufr }}</p>
            <p class="text-sm"><span class="font-semibold">Filière :</span> {{ examen.filiere }}</p>
            <p class="text-sm"><span class="font-semibold">Matiere :</span> {{ examen.matiere }}</p>
            {% if examen.year %}
                <p class="text-sm"><span class="font-semibold">Année :</span> {{ examen.year }}</p>
            {% else %}
                <p class="text-sm"><span class="font-semibold">Année :</span> non précisée</p>
            {% endif %}
            <p class="text-sm"><span class="font-semibold">Publié par :</span> {{ examen.author }}</p>
        </div>
        <div class="flex min-[550px]:flex-row flex-col gap-6 w-full">
            <a 
                href="{% url 'read_exam' examen.id %}" 
                class="bg-blue-400/40 text-black text-sm flex items-center justify-center gap-1 p-2 min-[550px]:w-1/2 font-semibold rounded-lg shadow hover:bg-blue-400 active:bg-blue-400 transition-all duration-200 ease-in-out"
            >
                <i class="fa-regular fa-eye text-blue-600"></i>
                <span>Lire</span>
            </a>
            <a
                download
                href="{% static examen.file.url %}" 
                class="bg-transparent border border-gray-300 text-black text-sm p-2 min-[550px]:w-1/2 text-center font-semibold rounded-lg shadow hover:bg-gray-100 active:bg-gray-200 transition-all duration-200 ease-in-out"
            >
                <i class="fa-solid fa-download"></i>
                <span>Télécharger</span>
            </a>
        </div>
    </div>
</div>