<div class="px-14 pt-6 sm:pb-12 pb-4">
    <h2 class="py-4 text-2xl font-semibold text-gray-600">Filtrer par filière</h2>
    <div class="flex sm:flex-row flex-col gap-4">
        <select id="branch" name="branch" class="sm:w-1/3 font-semibold text-gray-700 p-3 border-0 bg-yellow-100 rounded-lg focus:ring-2 focus:ring-yellow-300">
            <option value="">UFR SET</option>
            <option value="LMI">LMI</option>
            <option value="LGI">LGI</option>
            <option value="LSEE">LSEE</option>
            <option value="LPC">LPC</option>
        </select>
        <select id="branch" name="branch" class="sm:w-1/3 font-semibold text-gray-700 p-3 border-0 bg-blue-100 rounded-lg focus:ring-2 focus:ring-blue-300">
            <option value="">UFR SES</option>
            <option value="LEA">LEA</option>
            <option value="LEA">LAC</option>
            <option value="MIO">MIO</option>
            <option value="MTH">MTH</option>
            <option value="SEG">SEG</option>
        </select>
        <select id="branch" name="branch" class="sm:w-1/3 font-semibold text-gray-700 p-3 border-0 bg-green-100 rounded-lg focus:ring-2 focus:ring-green-300">
            <option value="">UFR SANTE</option>
            <option value="LEA">MDS</option>
            <option value="LEA">DENT</option>
            <option value="MIO">PHARM</option>
        </select>
    </div>
</div>
