{% load static %}
{% load examens_extras %}

<header class="bg-white flex flex-row items-center justify-between px-6 shadow-md">
        <a href={% url 'home' %}>
            <img src="{% static 'medias/logo_uidt.jpeg' %}" alt="Logo" class="h-12">
        </a>
        <a 
            href={% url 'home' %} 
            class="sm:text-2xl xs:text-lg font-bold text-gray-800 hover:text-gray-600 active:text-gray-600 duration-300"
        >Anciens Examens</a>
        <nav class="p-4">
            {% if user.is_authenticated %}
                <div>
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="border border-gray-400 cursor-pointer text-gray-400 bg-gray-200 hover:bg-gray-300 duration-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-semibold text-2xl rounded-full w-10 h-10 text-center inline-flex justify-center items-center" type="button">
                        {{ user|get_first_letter_user|upper }}
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-fit dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="px-4 py-2 flex flex-row items-center gap-2 font-semibold hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-solid fa-user"></i>
                                    <span>{{ user | upper }}</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'password-change' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-solid fa-key"></i>
                                    <span>Changer de mot de passe</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'regle_a_respecter' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span>Règles à respecter</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'logout' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <span>Déconnecter</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div>
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="border border-gray-400 cursor-pointer text-gray-400 hover:bg-gray-200 duration-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full p-2.5 py-3 text-center inline-flex items-center" type="button">
                        <i class="fa-regular fa-user text-gray-700 border-gray-200 h-fit text-md"></i>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-fit dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href={% url 'login' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                    <span>Se connecter</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'register' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-solid fa-user-plus"></i>
                                    <span>Créer un compte</span>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'regle_a_respecter' %} class="px-4 py-2 flex flex-row items-center gap-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span>Règles à respecter</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>